<%= javascript_include_tag "prototype" %>

<% form_for(@prayer_request) do |f| %>
  <%= f.error_messages %>

	<p>
		<b><%= f.label :title %></b>
		<%= f.text_field :title%>
	</p>
  <p>
    <%= f.radio_button :private, 2 %> 
    <%= image_tag('public.png', :width => 24) %>
    <b>(Anyone can read it)</b><br/>
		<%= f.radio_button :private, 1 %> 
    <%= image_tag('protected.png', :width => 24) %>
    <b>(Only people logged in can read it)</b><br/>
		<%= f.radio_button :private, 0 %> 
    <%= image_tag('private.png', :width => 24) %>
    <b>(Only you and admins can read it)</b><br/>
  </p>
  <br/>
  <p>
    <%= f.check_box :answered %>
    <%= image_tag('answered.png', :width => 24) %>
    <b>(Answered Prayer)</b>
  </p>
  <br/>
  <p>
    <%= f.label :request %><br />
    <%= f.text_area :request, :size => '100x20'%>
  </p>
  <p>
    <%= f.submit "Update" %>
		<%= f.submit "Cancel", :name => "prayer_request[Cancel]"%>
  </p>
<% end %>
<%= set_focus_to_id_and_highlight('prayer_request_request') %>
